/*Bienvenida*/
.bienvenido {
    width          : 100%;
    height         : 100vh;
    background     : url(../img/Software-Development.jpg) no-repeat center center/cover;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    text-align     : center;
    justify-content: flex-end;
    padding-bottom : 50px;
    margin-bottom  : 20px;
    
}

.logo-bienvenida img {
    width        : 300px;
    background   : rgba(255, 255, 255, .7) ;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 6px rgba(124, 118, 118, .6);
}

.bienvenido h2,
.bienvenido p {
    text-transform  : uppercase;
    margin-bottom   : 60px;
    text-decoration : underline;
    background-color: rgba(0, 0, 0, 0.555);
    color           : white;
}

.bienvenido h2 {
    font-size: 40px;
}

.bienvenido p {
    font-size: 30px;
}

/*Mision y vision*/
.mision-vision {
    display              : grid;
    grid-template-columns: repeat(2, 2fr);
    gap                  : 100px;
    margin               : 70px 0;
}

.mision-vision div {
    padding   : 10px;
    background: rgba(124, 118, 118, .4);
}

.mision-vision h3 {
    text-transform: uppercase;
    font-size     : 20px;
    margin        : 15px 0;
}

.novedades {
    display              : grid;
    grid-template-columns: repeat(4, 2fr);
    grid                 : 20px;
    margin               : 20px 0;
}

.novedades img {
    width : 100%;
    height: 180px;
}

.novedades h3 {
    font-size: 20px;
    margin   : 10px 0;
}

@media (max-width: 700px){

    .bienvenido{
        margin-bottom: 10px;
    }
    .bienvinido p{
        margin-bottom: 0;
        padding: 0;
    }
    .bienvenido h2{
        display: none;
    }
    .mision-vision{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .novedades{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 500px){
    .novedades{
        grid-template-columns: 1fr;
    }
}