.contenido{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.app{
    max-width: 50%;
    margin: 10px;
    display: flex;
    flex: 2;
    background: rgba(175, 174, 174, 0.651);
    height: 300px;
}
.app .descripcion{
    align-content: center;
    align-items: center;
    padding-left: 10px;
}
.app img{
    padding: 100px;
    width: 100%;
    background: orange;

    display: flex;
    flex: 1;
}
.app .descargar{
    background: rgb(13, 130, 240);
    padding: 10px;
}
.app .advertencia{
    font-size: 11px;
}
.app .advertencia a{
    text-decoration: underline;
}