.contenido{
    display: flex; 
}
.sidebar{
    flex: 1; /*divido a la izquierda */
    height: 100vh;
    border-right: 1px solid snow;
}
.indice {
    list-style: none;
    margin: 0;
    padding: 0;
}
    .indice li{
        padding: 5px 0;
    }
.page-content{
    flex: 7; /*divido a la derecha con 7 para que ocupe mas*/
    height: 100vh;
}
.page-content section{
    border-bottom: 2px solid snow;
    margin: 10px 5px;
}
.page-content section:last-of-type{
    border-bottom: none;
}
@media (max-width: 500px){
    .contenido{
        flex-direction: column;
    }
    .sidebar{
        border: none;
    }
    .page-content section:first-child{
        border-top: 1px solid snow;
    }
}